<nav class="nav">
  <div class="nav__width">
    <div class="nav__logo-mod">
      <a href="/" class="nav__logo">Art McCabe</a>
    </div>

    <ul class="nav__page__list">
<!--       <li class="nav__page__item">
        <a href="/projects.html" class="nav__page__link">Projects</a>
      </li>
      <li class="nav__page__item">
        <a href="/about.html" class="nav__page__link">About</a>
      </li>
      <li class="nav__page__item">
        <a href="/philosophy.html" class="nav__page__link">Philosophy</a>
      </li> -->
      <li class="nav__page__item">
        <a href="/testimonials" class="nav__page__link">Testimonials</a>
      </li>
      <li class="nav__page__item">
        <a href="mailto:artmccabe@me.com" class="nav__page__link">Get in Touch</a>
      </li>
    </ul>
  </div>
</nav>
